  input[type="radio"] {
    display: none;
  }

  .toggle-dark {
    padding: 0.25rem 0.5rem;
    border-radius: 0.625rem;
    background-color: var(--black--0);
    border: 1px solid var(--black--0);
    color: var(--black--800);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .toggle-dark:hover {
    background-color: var(--black--100);
    border: 1px solid var(--black--100);
    color: var(--black--800);
  }

  input[type="radio"]:checked + .toggle-dark {
    background-color: var(--black--800);
    border: 1px solid var(--black--800);
    color: var(--black--0);
  }

  input[type="radio"]:checked + .toggle-dark:hover {
    background-color: var(--black--900);
  }

  input[type="radio"]:checked + .toggle-dark:focus {
    background-color: var(--black--900);
  }

  .toggle-light {
    padding: 0.25rem 0.5rem;
    border-radius: 0.625rem;
    border: 1px solid var(--black--0);
    background-color: var(--black--0);
    color: var(--black--800);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .toggle-light:hover {
    border: 1px solid var(--black--100);
    background-color: var(--black--100);
    color: var(--black--800);
  }

  input[type="radio"]:checked + .toggle-light {
    border-color: var(--black--300);
    background-color: var(--black--200);
    color: var(--black--800);
  }

  input[type="radio"]:checked + .toggle-light:hover {
    background-color: var(--black--300);
  }

  input[type="radio"]:checked + .toggle-light:focus {
    background-color: var(--black--300);
  }